@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This is a Project for the evaluation of the Discipline "Design and Implementaion of Software", in the University of Madeira, Funchal/Portugal</p>
<p> The Author is Mário Durão, Student 2081309, In January 2018</p>
<p> This Web site was developed using Visual Studio 2017</p>